body{
    width: auto;
}
#box{
    height: 100px;
    width: 90%;
    margin-left: 20px;
    font-size: xx-large;
}
button{
    width: 20%;
    height: 70px;
    background-color: green;
    color: aliceblue;
    font-size: xx-large;
    border: none;
}
#clear{
    width: 10%;
    margin-left: 20px;
}
.first{
    padding: 20px;

}
.second{
    padding: 20px;

}
.third{
    padding: 20px;

}
.fourth{
    padding: 20px;

}
